//안녕하세요? 이것은 SassyCSS라고 하는 것입니다. 소개는 다음에 한 번 해볼게요!
//아래 문법은 css에는 사실 없는 문법이에요!

//config
@import "./config/_variable.scss";
@import "./config/reset.scss";

//components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";
//screens
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/edit.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";
//default
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $black;
  color: white;
}

main {
  margin-top: 50px;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}
//일단 이 코드를 우리가 알고있는 css로 변환시키는 법부터 배워봅시다!
