form {
  max-width: 480px;
  margin: 0 auto;
  padding: 28.3px 18.5px;
  background-color: rgba($color: #000000, $alpha: 0.342);
  border-radius: 10px;
  border: 1px solid rgba($color: #fff, $alpha: 0.12);
}
input[type="submit"],
.social__btn {
  background-color: rgba($color: $red, $alpha: 0.878);
  border-radius: 5px;
  display: block;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  color: #cccccc;
}
input:not(input[type="range"], input[type="submit"]) {
  all: unset;
  margin-bottom: 5px;
  background-color: #121212;
  padding: 12px 20px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: #cccccc;
  width: 90%;
  &::placeholder {
    color: rgba(255, 255, 255, 0.62);
  }
}
